- name: app-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: upgrade openssl packages
  ansible.builtin.dnf:
    name: {{ item }}
  state: latest
  loop:
  - openssl
  - openssl-libs
  - openssh
  - openssh-server
  - openssh-clients


- name: python-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: python-setup.yaml

- name: system-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: system-setup.yaml