- name: install mysql
  ansible.builtin.dnf:
    name: mysql-server
    state: present

- name: start and enable mysql
  ansible.builtin.service:
    name: mysqld
    state: started
    enabled: yes

- name: change default mysql password
  ansible.builtin.command: mysql_secure_installation --set-root-pass RoboShop@1